# Node dependencies
node_modules
/data/
/lib/
/logs/
/public
/build
/dist
*.log
.env.*
alemon*.env
alemon*.yaml
*.logs.ts
yarn.lock
custom.properties
mysql-connector-j-9.1.0
/liquibase
*.memory-card.json
.data
.eslintcache