.user_float {
    float: left;
    margin: 70px 0 0 260px;
}

.use_data0,
.use_data {
    padding: 50px 150px;
}

.user_font_0,
.user_font {
    text-align: center;
    font: 600 22.6px sans-serif;
    color: #06f;
    border-radius: 5px;
    background: rgba(244, 117, 174, 0.386);
}

.user_font_0 {
    font-size: 50px;
}

.user_font {
    margin: 5px;
    padding: 5px;
}