.user_top {
  width: 90%;
  margin: auto;
}

.user_top_left {
  float: left;
  width: 30%;
  padding-top: 21px;
  margin-top: 50px;
}

.user_top_img {
  margin: 52px 0 0 2px;
  width: 172px;
  height: 172px;
  border-radius: 50%;
}

.user_top_left_qq {
  background: rgba(19, 21, 22, 0.486);
  border-radius: 20px;
  color: azure;
  margin-left: 13px;
  width: 240px;
  height: 40px;
  padding: 5px;
  font-size: 30px;
}

.user_top_right {
  float: right;
  margin-top: 65px;
  width: 60%;
  background: radial-gradient(
    rgba(206, 226, 226, 0.078),
    rgba(164, 193, 231, 0.408)
  );
  border-radius: 20px;
}

.user_bottom0,
.user_bottom1,
.user_bottom2 {
  border-radius: 20px;
  width: 90%;
  margin: auto;
}
.user_bottom0 {
  padding: 80px 0 20px 0;
  height: 370px;
}
.user_bottom1 {
  background: radial-gradient(
    rgba(206, 226, 226, 0.078),
    rgba(164, 193, 231, 0.408)
  );
}
.user_bottom2 {
  height: 20px;
}

.use_data {
  margin: 20px;
  padding: 20px 0;
}

.user_font {
  margin: 0;
  padding: 15px;
  font: 600 30px sans-serif;
  color: #cbfdf2;
  border-top: 1px solid rgba(102, 180, 219, 0.888);
}

.use_data_head {
  border-radius: 20px 20px 0 0;
  background: rgba(19, 21, 22, 0.666);
}
.use_data_body {
  border-radius: 0 0 20px 20px;
  background: rgba(19, 21, 22, 0.486);
}

.info {
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  padding-left: 40px;
}
.price {
  font-size: 25px;
  float: right;
  font-weight: 500;
  padding-right: 20px;
}
.user_font0 {
  margin: 9px;
  padding: 15px;
  font: 600 30px sans-serif;
  color: #fff;
  border-radius: 20px;
  background: rgba(19, 21, 22, 0.486);
}
