.user_top,
.user_bottom0,
.user_bottom1,
.user_bottom2 {
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.user_top_left {
  float: left;
  width: 30%;
  padding-top: 21px;
  margin-top: 50px;
}

.user_top_img {
  margin: 52px 0 0 2px;
  width: 172px;
  height: 172px;
  border-radius: 50%;
}

.user_top_left_qq,
.user_font {
  background-color: rgba(19, 21, 22, 0.486);
  border-radius: 20px;
  color: azure;
  font-size: 30px;
  padding: 5px 15px;
}
.user_top_left_qq {
  margin-left: 13px;
  width: 240px;
  height: 40px;
}

.user_top_right,
.user_bottom1 {
  float: right;
  text-align: left;
  margin-top: 65px;
  width: 60%;
  background-image: radial-gradient(
    rgba(206, 226, 226, 0.078),
    rgba(164, 193, 231, 0.408)
  );
}
.user_bottom1 {
  float: none;
  text-align: initial;
  margin-top: 0;
  width: 90%;
}

.user_bottom0 {
  padding: 80px 0 20px 0;
  height: 370px;
}

.user_bottom2 {
  height: 20px;
}

.use_data {
  margin: 20px;
  padding: 20px 0;
}

.user_font {
  text-align: center;
  margin: 9px;
  font-weight: 600;
  color: #fff;
}
